* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Inter;
  src: url(font/Inter/static/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(font/Montserrat/static/Montserrat-Regular.ttf);
}
body {
  height: 300vh;
}
.container {
  min-height: 300vh;
  min-width: 100vw;
  background-color: #e7e7e7;
  display: flex;
}
.main {
  background-color: #e7e7e7;
}
.nav {
  background-color: #071013ff;
  height: 6vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
}
.link {
  padding: 13px 15px 13px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
  color: #e7e7e7;
  font-family: Montserrat;
}
.footer {
  background-color: #071013ff;
  position: relative;
  height: 6vh;
  clear: both;
  width: 100vw;
}

a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
a:hover {
  color: red;
  transition: 0.3s ease-out;
}
