* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
}
.container {
  min-height: 88vh;
  min-width: 100vw;
}
.main {
  overflow: auto;
  padding-bottom: 100px;
  background-color: #e7e7e7;
  height: 75vh;
}
.nav {
  background-color: #071013ff;
  height: 6vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
}
.links {
  padding: 13px 15px 18px;
  border-radius: 3px;
  text-decoration: underline;
  font-size: 18px;
  color: #e7e7e7;
}
.footer {
  background-color: #071013ff;
  position: relative;
  height: 6vh;

  clear: both;
  width: 100vw;
}

a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
a:hover {
  color: red;
  transition: 0.3s ease-out;
}
