* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Inter;
  src: url(font/Inter/static/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(font/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-B;
  src: url(font/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-L;
  src: url(font/Montserrat/static/Montserrat-Light.ttf);
}
body {
  height: 300vh;
}
.container {
  min-height: 300vh;
  width: 100%;
  background-color: #e7e7e7;
  display: flex;
}
.main {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  width: 100%;
  max-width: 100%;
}
.nav {
  background-color: #071013ff;
  height: 6vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
}
.link {
  padding: 13px 15px 13px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
  color: #e7e7e7;
  font-family: Montserrat;
  margin-bottom: 0.5rem;
}
.link:hover {
  color: red;
  transition: 0.3s ease-out;
}
.footer {
  background-color: #071013ff;
  position: relative;
  height: 6vh;
  clear: both;
  width: 100%;
  max-width: 100%;
}

a {
  color: #e7e7e7;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.name {
  font-size: calc(6vw + 1em);
  font-family: Montserrat;
}
.title {
  font-size: calc(1vw + 1em);
  font-family: Montserrat;
}
.description {
  font-size: calc(0.5vw + 0.5em);
  font-family: Montserrat;
}
.main-text {
  display: flex;
  margin: 6vh 5vw;
  flex-direction: column;
  flex: 1 1 400px;
}
#main-1 {
  display: flex;
}
#main-2 {
  display: flex;
}
#main-3 {
  display: flex;
}
.button {
  background-color: #b80c09ff;
  border-radius: 5px;
  text-align: center;
  margin-top: 16vh;
  font-size: calc(0.4vw + 1em);
  width: 150px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-family: Montserrat;
  color: #e7e7e7;
}
.button:hover {
  transition: all 0.2s ease 0s;
  background-color: red;
}
#img-1 {
  width: 35vw;
  height: auto;
}
.mainImage {
  margin: 6vh 5vw;
  box-sizing: border-box;
  flex: 1 1 400px;
}
